body {
    font-family: "Muli", sans-serif;
    background-color: #242E4C;
    display: flex;
}
.contenedor {background-color:rgba(0, 0, 0, 0.367) ;
    width: 700px;
    height: 340px;
   margin-left: 300px;
   margin-top: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
}
   
.contenedor-recuadros {
    display: flex;
    
}

.recuadros {
    display: flex;
   flex-direction: column;
    width:150px;
    height: 150px;
    color: rgba(255, 255, 255, 0.833);
}

.porsentaje {
    display: flex;
    color: white;
    padding-top: 5px;
   align-items: center;
    font-weight: bold;
    font-size: 30px;
   flex-direction: column;
}
.texto {
    color: rgba(255, 255, 255, 0.83);
    font-size: 10px;
   text-align: center;
}


 


.titulo {
    width:100px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin-top: 10px;
    font-size: small;
    text-align: center;
    padding-top: 30px;
}
.titulo2 {
    width:200px;
    text-align: center;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 10px;
    padding-top: 50px;
}

.titulo3 {
    width:100px;
   
    flex-direction: column;
    align-items: flex-end;
    color: darkblue;
    font-size: 10px;
}

