body { font-family: Muli, sans-serif;
    background-color: rgba(242, 242, 242, 0.816);
}
.eventos{ font-weight: 900;
    color: rgb(52, 52, 52);
    font-size: 40px;
    
}


    h1 {
        display: block;
       
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        
    }
    .contenedor {
        background-color: white;
    width: 700px;
    margin: 50px auto;
    padding: 30px;}

    .filter1 {    
        background-color: rgb(52, 52, 52);
        color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
    }
    .filter {
        margin-right: 10px;
        color: rgb(140, 140, 140);
        font-size: 14px;
    }
    .tiempo { 
        color: rgb(163, 163, 163);
    }
    .cancelado {color: rgb(236, 97, 137);
        margin-right: 10px;
       }
     p {display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;}  
   h2  {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   }
   .tiempo2 {    color: rgb(163, 163, 163);}

   a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
  .tiempo3 {color: rgb(163, 163, 163);}