*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
     width: 350px;
     height: 400px;
     padding: 30px;
     border-radius: 15px;
     border: 2px solid black;
}
img {width: 100%;object-fit: fill;
object-position: center -30px;}