p .arbol{ font-size: 70px;}
  .arbusto {font-size: 50PX;} 
  .casa {font-size: 90px;}
  .luna {font-size: 65px;}
  .paisaje {font-size: 85px;}
  .auto {font-size: 75px;}
  .carita {font-size: 70px;}


