.amarilla {color: yellow;}
.verde {color: springgreen;}
.violeta {color: blueviolet;}
.rojo {color: red;}
.naranja {color: orange;}
.amarillo {color: gold;}

h1 {font-size: 100;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
header {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
