h1 { font-family: 'Young Serif', serif;
     font-size: 120px;
     font-weight: 800px;
}
p {font-family: 'Roboto Condensed', sans-serif;
   font-size: 48px;
   font-weight: 600px;
}
.cualidades     { color: blueviolet;}
.job { color: aquamarine;}
.hobbit {color: darkslateblue;}